@model IEnumerable<ECommerce_Login_Register.Models.Banner>
<!-- Banner -->
<section id="billboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <button class="prev slick-arrow">
                    <i class="icon icon-arrow-left"></i>
                </button>
                <div class="main-slider pattern-overlay">
                    @foreach (var item in Model)
                    {
                        <div class="slider-item">
                            <div class="banner-content">
                                <h2 class="banner-title">@item.Title</h2>
                                <p>
                                    @item.Text
                                </p>
                                <div class="btn-wrap">
                                    <a href="#" class="btn btn-outline-accent btn-accent-arrow">
                                        Read More<i class="icon icon-ns-arrow-right"></i>
                                    </a>
                                </div>
                            </div><!--banner-content-->
                            <img src="@item.Foto" alt="banner" class="banner-image">
                        </div><!--slider-item-->

                    }

                </div><!--slider-->

                <button class="next slick-arrow">
                    <i class="icon icon-arrow-right"></i>
                </button>

            </div>
        </div>
    </div>

</section>