<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Balance</title>
</head>
<body>
    <h2>Kullanıcı Bakiye Sorgulama</h2>
    <form id="check-balance-form">
        <label for="userId">Kullanıcı ID:</label>
        <input type="text" id="userId" name="userId" required>
        <button type="submit">Bakiyeyi Kontrol Et</button>
    </form>
    <div id="balance-info"></div>

</body>
</html>
