@model IEnumerable<ECommerce_Login_Register.Models.Client>
<!-- Anlaşmalar -->
<section id="client-holder" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="logo-wrap">
                    <div class="grid">
                        @foreach (var item in Model)
                        {
                            <a href="#"><img src="@item.Logo" alt="client" style="height:100px; width:100px; margin:5px;"></a>
                        }
                    </div>
                </div><!--image-holder-->
            </div>
        </div>
    </div>
</section>