@model IEnumerable<ECommerce_Login_Register.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Form Layouts</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Layouts</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Category Index</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p>
        <a class="ri-add-fill btn btn-success" href="/Categories/Create"> New Category</a>
    </p>
    <table class="table">
        <tr>
            <th>
                Book Id:
            </th>
     
            <th>
                Türler:
            </th>
       
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CategoryId
                </td>
           
                <td>
                    @item.Tur
                </td>
      

                <td>
                    <a class="ri-repeat-line btn btn btn-secondary" href="/Categories/Edit/@item.CategoryId"></a>
                    <a class="ri-delete-bin-2-line btn btn btn-danger" href="/Categories/Delete/@item.CategoryId"></a>
                </td>

            </tr>
        }


    </table>

</main>
